 * {
  box-sizing: border-box;
}

body {
  font-family: Avenir, sans-serif;
  margin: 2rem auto;
  width: 95%;
  background-color:lightgreen;
}

#info, #whose-turn {
  margin: 2px;

}

.grid .ship {
  background-color:rgb(228, 19, 19)
}

.grid .not-ship {
  background-color: rgb(81, 94, 216)
}

.grid .human-ship {
  background-color: purple;
}
.grid .human-ship.ship {
  background-color: rgb(228, 19, 19)
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  margin: 10px;
  grid-gap: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 45px) ;
  grid-template-rows: repeat(10, 45px);


}

.hidden-info {
  display: grid;
  justify-content: center;
  grid-gap: 5px;
}


.grid div{
  cursor: pointer;
  background-color: #d9d9d9;
  border: 2px solid black;
}

.invisible {
  display: none;
}

@media only screen and (max-width: 320px) {
  body {
    background-color: pink;
  }
  .grid {
    grid-template-columns: repeat(10, 25px);
    grid-template-rows: repeat(10, 25px);
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: 10px;
    grid-gap: 25px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  body {
    background-color:rgb(0, 238, 255);
  }

  .grid {
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: 10px;
    grid-gap: 25px;
  }
}

@media only screen and (min-width:481px) and (max-width: 768px) {
  body {
    background-color:orange;
  }

  .grid {
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: 10px;
    grid-gap: 25px;
  }
}


@media only screen and (min-width: 1066px) {
  body {
    background-color:yellow;
  }

  .grid {
    grid-template-columns: repeat(10, 45px);
    grid-template-rows: repeat(10, 45px);
  }

  .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0px;
    margin: 50px;
    grid-gap: 100px;
  }
}