* {
  box-sizing: border-box;
}

@media only screen and (max-width: 905px) {
  /* For phone: */
  body {
    background-color: yellow
  }

  .container {
    min-height: 100vh;
    align-self: center;
  }

  .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat (10, 30px);
    grid-template-rows: repeat (10, 30px);
  }
}


body {
  font-family: Avenir, sans-serif;
  margin: 2rem auto;
  width: 95%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

.grid {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px ;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px ;
  padding: 5px;
  margin: 10px;
}
/*
.grid-human {
  width: 45%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: lightgreen;
}

.grid-computer {
  width: 45%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: rebeccapurple;
}
*/

.grid div{

  cursor: pointer;
  background-color: #d9d9d9;
  border: 2px solid black;

}
