 * {
  box-sizing: border-box;
}

body {
  font-family: Avenir, sans-serif;
  margin: 2rem auto;
  width: 95%;
  background-color:lightgreen;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  margin: 10px;
  grid-gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 30px) ;
  grid-template-rows: repeat(10, 30px);


}

.hidden-info {
  display: grid;
  justify-content: center;
  grid-gap: 5px;
}


.grid div{

  cursor: pointer;
  background-color: #d9d9d9;
  border: 2px solid black;

}

@media only screen and (min-width: 880px) {
  body {
    background-color:yellow;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: 10px;
    grid-gap: 100px;
  }
}